@import 'styles/variables';

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: $laptop) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: $tablet) {
    margin-bottom: 8px;
    padding: 10px 16px;
  }

  box-shadow: 0 4px 14px 0 #0120801a;
  padding: 32px 24px;
  border-radius: 8px;
}

.featureImg {
  margin-left: 8px;
  @media screen and (max-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}

.featureDesc {
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #1b2125;
  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 16px;
  }
}
