@import '../../styles/variables.scss';

.switchContainer {
  display: flex;
  padding: 4px;
  width: 100%;
  background: #f6f4f8;
  border-radius: 8px;
  margin-bottom: 24px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 12px;
  }
}

.switchButton {
  outline: none;
  border: none;
  flex: 1;
  background: none;
  min-width: 167px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #4c9de8;
  line-height: 18px;
  letter-spacing: 0.3px;
  transition: all 0.15s ease-out;

  @media screen and (max-width: $tablet) {
    min-width: 50%;
  }
}

.active {
  background: #ffffff;
  color: #012482;
  border-radius: 8px;
  box-shadow: 0px 2px 16px rgba(0, 57, 166, 0.08);

  span {
    background: linear-gradient(90.2deg, #000756 0.66%, #003ca7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
