@import 'styles/variables';

.component {
  padding: 16px 0 56px;
  background-image: url('/xvg/ellipse.svg');
  background-repeat: no-repeat;
  background-position: left center;
  counter-reset: listItem;

  .title {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0;
    color: #01268a;

    @media screen and (max-width: $tablet) {
      margin-bottom: 14px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  .subtitle {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    color: #1b2125;
  }

  .box {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $laptop) {
      flex-direction: column-reverse;
    }
  }

  .list {
    max-width: 500px;
    margin: 0;
    padding: 24px 56px;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    border-radius: 8px;

    @media screen and (max-width: $laptop) {
      margin: 42px 0;
      padding: 0;
      background-color: transparent;
      font-style: normal;
      font-weight: normal;
      font-size: 31px;
      line-height: 36px;
      color: #232937;
    }
  }

  .listItem {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: $laptop) {
      margin-bottom: 32px;
      padding: 24px 56px 24px 24px;
      position: relative;
      background-color: #fff;
      border-radius: 8px;

      &::after {
        //counter-increment: listItem;
        //content: counter(listItem);
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 300;
        font-size: 100px;
        color: rgba(1, 38, 138, 0.1);
      }
    }
  }

  .thin {
    margin-top: 12px;
    font-weight: 400;

    @media screen and (max-width: $laptop) {
      display: block;
      font-size: 18px;
      line-height: 21px;
      color: #01268a;
      opacity: 0.6;
    }
  }

  .iframeBox {
    overflow: hidden;
    border-radius: 24px;

    @media screen and (max-width: $laptop) {
      max-width: 450px;
      height: 280px;
    }

    @media screen and (max-width: $tablet) {
      max-width: 336px;
      height: 189px;
    }
  }

  .image {
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
      width: 100%;
      max-width: 350px;
    }
  }

  .buyButton {
    width: 350px;
    height: 50px;
    margin: 24px auto 0;
    background-color: #03b481;

    @media screen and (max-width: $laptop) {
      display: none;
    }
  }

  @media screen and (max-width: $laptop) {
    padding-bottom: 0;
    //background-image: url("/xvg/ellipse-mobile.svg");
    background-image: none;
    background-position: left center;
  }
}
