@import 'styles/variables';
.item {
  margin-top: 12px;
  @media screen and (max-width: $tablet) {
    margin-top: 6px;
  }
  div {
    margin-left: -6px;
  }
}

.items {
  list-style: disc;
  ::marker {
    color: #04c697 !important;
    font-size: 2em;
  }
}
