.twittsWrapper {
  justify-content: center;
  display: flex;
  background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
  padding-left: 48px;
  padding-right: 48px;
  .twittsContainer {
    min-height: 447px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 66px;
      letter-spacing: 0.87px;
      color: #ffffff;
      padding-left: 83px;
      padding-right: 83px;
    }
    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.87px;
      color: #ffffff;
      padding-left: 83px;
      padding-right: 83px;
    }
    .twittsContent {
      display: flex;
      justify-content: space-between;

      margin-top: 48px;
      .twitt {
        align-self: start;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;

        img {
          width: 95%;
        }
      }
      span {
        display: flex;
        align-items: center;
      }
    }
    .followBtn {
      color: #000756;
      margin-left: 57px;
      margin-right: 57px;
    }
  }
}
@media screen and (max-width: 1021px) {
  .twittsWrapper {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    border-radius: 16px;
    padding: 0;
    .twittsContainer {
      width: 100%;
      padding: 24px;

      h2 {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.87px;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.87px;
        margin: 0;
        padding: 0;
      }
      .twittsContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .twitt {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
          img {
            width: 95%;
            margin: auto;
          }
        }
        .carousel_arrows {
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;

          span {
            margin: 20px;
          }
        }
      }
    }
    .followBtn {
      display: none;
    }
  }
}
