@import "styles/variables";

.section {
  margin: 48px;
  .wrapper {
    padding: 80px;
    background: #f3f9ff;
    border-radius: 48px;

    .title {
      margin-bottom: 24px;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: 0.87px;
      color: #01268a;

      .logo {
        margin-bottom: -6px;
        margin-right: 4px;
        margin-left: 4px;
        width: 42px;
        height: 41px;
      }
    }

    .description {
      font-weight: 400;
      font-size: 25px;
      line-height: 140%;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }

    .content {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;

      .feature,
      .plastic,
      .virtual {
        max-width: 318px;
        width: 32%;
        .descItem {
          display: none;
        }
        h3 {
          margin: 16px;
          font-size: 32px;
          line-height: 38px;
        }
        ul {
          padding-left: 32px;
          padding-right: 32px;
          li {
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid #f3f9ff;
            list-style: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
          }

          li:first-child {
            border-top: 1px solid #f3f9ff;
          }
          .bonus {
            position: relative;
            color: rgba(0, 235, 178, 1);
            font-weight: 800;

            span {
              position: absolute;
              margin-left: 3px;
            }
          }
          .row {
            display: flex;
            justify-content: center;
            flex-direction: row;

            &_withGap {
              display: flex;
              justify-content: center;
              flex-direction: row;
              gap: 6px;
            }
          }
        }
        .chooseBtn {
          margin: auto;
          margin-bottom: 32px;
          span {
            background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }

      .feature {
        color: rgba(0, 0, 0, 0.5);
        h3 {
          background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        ul {
          padding-left: 16px;
        }
      }

      .plastic {
        text-align: center;
        color: #fff;
        background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 32px;
        ul {
          li {
            border-bottom: 1px solid #f3f9ff;
          }
        }
      }

      .virtual {
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        background-color: #fff;
        border-radius: 32px;

        h3 {
          background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
}

@media (max-width: $laptop) {
  .section {
    margin: 16px;

    .wrapper {
      border-radius: 16px;
      padding: 20px;
      .title {
        font-size: 32px;
        line-height: 38px;
        .box {
          .logo {
            margin-bottom: -6px;
            margin-right: 4px;
            margin-left: 2px;
            width: 32px;
            height: 31px;
          }
          @media screen and (max-width: 478px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .logo {
              margin-bottom: -6px;
              margin-right: 4px;
              margin-left: 11px;
              width: 32px;
              height: 31px;
            }
          }
          @media screen and (max-width: 470px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .description {
        font-size: 20px;
        line-height: 140%;
      }
      .content {
        flex-direction: column;
        align-items: center;
        .plastic,
        .virtual {
          width: 100%;
          .descItem {
            display: block;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
          }
          .chooseBtn {
            margin-top: 24px;
          }
        }
        .virtual {
          color: #000;
          .descItem {
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .carousel_arrows {
          margin-top: 27px;
        }
        .carousel_arrows span {
          margin: 18px;
        }
      }
    }
  }
}
