@import 'styles/variables';

.featuresSection {
  padding-top: 90px;
  padding-bottom: 114px;

  @media screen and (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.heading {
  margin-bottom: 40px;
  text-align: center;
  @media screen and (max-width: $tablet) {
    font-size: 26px !important;
  }
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: $laptop) {
    justify-content: space-between;
    gap: 10px;
  }
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
  .leftFeatures,
  .rightFeatures {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      width: 100%;
      gap: 10px;
    }
  }
}

.mobile {
  width: 320px;
  height: auto;
  margin: 0 16px;
  @media screen and (max-width: $laptop) {
    display: none;
  }
}
