@import "styles/variables";

.table {
  margin-bottom: 48px;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.87px;
  color: #01268a;
  margin-bottom: 24px;

  @media (max-width: $tablet) {
    font-size: 32px;
  }
}

.tableBg {
  padding: 16px;
  font-size: 14px;
  background: #f3f9ff;
  min-width: 650px;
  overflow-x: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  animation: fadein 2s;

  &_minHeight {
    min-height: 285px;
  }

  @media (max-width: $laptop) {
    min-width: 850px;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    margin: 5px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #01268a;
    width: 20px;

    border-radius: 100px;
  }
}

.emptyTableMessage {
  font-size: 16px;
  font-weight: 400;
  padding: 48px;
  text-align: center;
  background: white;
  border-radius: 24px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
