@import 'styles/variables';

.section {
  padding: 80px 0 98px;

  @media screen and (max-width: $tablet) {
    padding: 32px 0 35px;
  }
}

.sectionContainer {
  max-width: 1290px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;

  @media screen and (max-width: 1290px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (max-width: $laptop) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: 0.87px;
  color: #01268a;
  text-align: start;
  margin-bottom: 48px;

  @media screen and (max-width: $tablet) {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.cardContainer {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: $tablet) {
    gap: 12px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  background: #f3f9ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  border-radius: 32px;

  &:first-of-type {
    background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
  }
  &:last-of-type {
    background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
  }

  @media (max-width: 1203px) {
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    border-radius: 16px;
    padding: 24px;
    flex-direction: row;
  }
}

.cardImg {
  width: 64px;
  height: 64px;

  @media screen and (max-width: $tablet) {
    width: 48px;
    height: 48px;
  }
}

.cardTitle {
  font-weight: 700;
  font-size: 24px;
  color: #01268a;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: $tablet) {
    gap: 8px;
  }
}

.cardText {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  max-width: 460px;

  @media (max-width: 1203px) {
    max-width: 100%;
  }

  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

.cardTextDark {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  max-width: 460px;

  @media (max-width: 1203px) {
    max-width: 100%;
  }

  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

.cardTitleDark {
  font-weight: 700;
  font-size: 24px;
  color: #fff;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

.action {
  margin-top: 48px;
  display: flex;
  justify-content: center;

  a {
    background-color: #00ebb2;
    width: 100%;
    box-shadow: 0 2px 16px 0 #0039a614;
    color: white;
    text-align: center;
    padding: 18px 0px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 2px 24px rgba(0, 57, 166, 0.18);
      transform: scale(1.05);
    }

    span {
      background: linear-gradient(90deg, #0042b8 -50%, #000756 158.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  @media screen and (max-width: $tablet) {
    margin-top: 12px;
  }
}

.cardContentList {
  min-width: 460px;
  margin: 0;
  padding-left: 24px;

  @media screen and (max-width: $tablet) {
    min-width: 100%;
  }
}