@import 'styles/variables';

.section {
  margin: 48px;
  background: #fff;
  border-radius: 48px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $laptop) {
    margin: 24px;
  }

  @media (max-width: $tablet) {
    margin: 16px;
    border-radius: 24px;
  }

  .wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: $tablet) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.87px;
    color: #01268a;
    margin-bottom: 48px;

    @media screen and (max-width: $tablet) {
      font-size: 32px;
      margin-bottom: 12px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 12px;
    }
  }

  .steps {
    display: flex;
    width: 100%;
    gap: 24px;
    justify-content: space-between;

    @media screen and (max-width: $laptop) {
      flex-direction: column;
      gap: 12px;
    }
  }

  .step {
    background: linear-gradient(252.44deg, #f3f9ff 0%, #f3f9ff 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    border-radius: 24px;
    padding: 32px;
    gap: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .stepImg {
      width: 64px;
      height: 64px;

      @media screen and (max-width: $tablet) {
        width: 48px;
        height: 48px;
      }
    }

    .stepTitle {
      font-weight: 700;
      font-size: 24px;
      color: #01268a;

      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }

    .stepText {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3;

      @media screen and (max-width: $tablet) {
        font-size: 12px;
      }
    }

    .stepTextContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media screen and (max-width: $tablet) {
        gap: 8px;
      }
    }

    &:last-of-type {
      background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
      border: 1px solid rgba(255, 255, 255, 0.2);

      .stepTitle {
        color: #fff;
      }

      .stepText {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    @media screen and (max-width: $laptop) {
      padding: 24px;
    }

    @media (max-width: $tablet) {
      border-radius: 16px;
      align-items: flex-start;
    }
  }

  .paymentList {
    display: flex;
    gap: 24px;
    height: 50px;
    align-items: center;
    justify-content: center;

    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 50px;
      background-color: #000000;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      padding: 0 5px;
      filter: drop-shadow(0px 0px 25px rgba(60, 104, 218, 0.84));

      &:hover {
        transform: scale(1.05);
      }
    }
    a:last-child {
      width: 50px;
      height: 50px;
    }
    @media (max-width: $tablet) {
      gap: 12px;
    }
  }
  @media (max-width: $mobileL) {
    .paymentList {
      a {
        filter: none;
      }
    }
  }
}
