@import 'styles/variables';

.section {
  padding: 48px;
  position: relative;
  background-image: url('/visa-update/visa-card.svg');

  background-repeat: no-repeat;
  background-size: contain;
  background-size: 50%;
  background-position-y: center;
  @media screen and (min-width: 1800px) {
    background-size: 950px 1200px;
  }
  @media screen and (max-width: $laptop) {
    padding: 24px;
    background-position-y: 60%;
    background-size: 80%;
  }

  @media (max-width: $tablet) {
    margin: 0;
    border-radius: 24px;
    padding: 16px;
    background-image: none;
  }

  .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media screen and (max-width: $tablet) {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.87px;
    color: #01268a;
    margin-bottom: 48px;

    @media screen and (max-width: $tablet) {
      font-size: 32px;
      margin-bottom: 12px;
    }
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 48px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 12px;
    }
  }

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 550px;
    flex: 1;

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
      gap: 0;
      width: 100%;
      max-width: unset;
      padding-bottom: 40%;
      background: #f3f9ff;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      z-index: -1;
    }
  }

  .step {
    background: #f3f9ff;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 24px;
    gap: 24px;
    display: flex;
    align-items: center;
    flex: 1;

    .stepImg {
      width: 64px;
      height: 64px;
    }

    .stepTitle {
      font-weight: 700;
      font-size: 18px;
      color: #01268a;

      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }

    @media screen and (max-width: $laptop) {
      flex-direction: row;
      padding: 24px 24px 12px 24px;
    }

    @media (max-width: $tablet) {
      border-radius: 16px;
      align-items: center;
    }
  }

  .cardAbsolute {
    display: none;
    @media screen and (max-width: $tablet) {
      display: block;
      margin-top: -50%;
      margin-bottom: -80%;
      margin-left: -16px;
      height: auto;
      z-index: 5;
    }

    @media screen and (max-width: $mobileL) {
    }

    img {
      width: 100%;
    }
  }
  .container {
    max-width: 1290px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }

  .order {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background: #f3f9ff;
    border-radius: 48px;
    background-image: url('/world-map.webp');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $tablet) {
      padding: 24px;
      border-radius: 16px;
      background-image: url('/mobile-map.webp');
      background-position-x: right;
      background-position-y: bottom;
      padding-bottom: 250px;
    }

    .orderTitle {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.87px;
      color: #01268a;

      @media screen and (max-width: $tablet) {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.87px;
      }
    }
    .orderTxt {
      display: flex;
      flex-direction: column;
      margin-top: 48px;

      @media screen and (max-width: $tablet) {
        width: 100%;
        margin-top: 20px;
      }
      .order_item {
        padding: 24px;
        margin-bottom: 24px;
        max-width: 493px;

        background: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 35px 61px rgba(1, 48, 154, 0.1);
        border-radius: 16px;
        @media screen and (max-width: $tablet) {
          margin-bottom: 12px;
          padding: 20px;
        }
      }

      .order_item h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;

        background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @media screen and (max-width: $tablet) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 8px;
        }
      }

      .order_item p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
        @media screen and (max-width: $tablet) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
}
