@import "styles/variables";

.container {
  flex-grow: 1;
  width: 170px;
  position: relative;
  flex-shrink: 0;
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;

  span {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #4c9de8;
    margin-bottom: 0;
  }

  @media (max-width: $tablet) {
    width: 100%;
    flex-shrink: 1;
  }
}
