@import "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;

  @media (max-width: $tablet) {
    gap: 24px;
  }
}

.tableContainer {
  margin-bottom: 0;
}