@import 'styles/variables';
.container {
  display: flex;
  align-items: center;
  margin: 12px 0;
  .icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    @media screen and (max-width: $tablet) {
      width: 24px !important;
    }

    cursor: pointer;
  }
}
