.wrapper {
  display: flex;
  justify-content: center;

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    padding-left: 83px;
    padding-right: 83px;

    .containerTitle {
      display: flex;
      width: 100%;
      flex-direction: row;
      font-weight: 700;
      font-size: 43px;
      line-height: 50px;
      letter-spacing: 0.87px;
      color: #01268a;
      margin-top: 72px;
    }

    .container {
      display: flex;
      margin-top: 48px;

      .actionArea {
        display: flex;
        flex-direction: column;
        background: #f3f9ff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(50px);
        border-radius: 32px;
        padding-left: 48px;
        flex: 5;

        .itemContainer {
          display: flex;
          align-items: center;
          margin-top: 48px;

          .itemText {
            display: flex;
            flex-direction: column;
            margin-left: 3vw;

            h3 {
              font-weight: 700;
              font-size: 24px;
              line-height: 28px;
              background: linear-gradient(252.44deg, #000756 0%, #0042b8 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
            }

            p {
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }

      .containerPhone {
        width: 30%;
        margin-left: -82px;
        z-index: 2;
        img {
          width: 316.65px;
          height: 640.71px;
        }
      }
    }

    .containerButton {
      height: 56px;
      margin-top: 48px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: rgba(27, 36, 135, 255);
    }
  }
}
@media screen and (max-width: 1025px) {
  .wrapper {
    .mainContainer {
      margin-left: 16px;
      margin-right: 16px;
      padding-left: 0;
      padding-right: 0;
      .containerTitle {
        margin: 0 16px 12px 16px;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.87px;
      }

      .container {
        margin-top: 0;
        flex-direction: column;

        .actionArea {
          padding: 0 24px 100px 24px;

          .itemContainer {
            margin-top: 24px;

            .itemText {
              h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
              }

              p {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
        .containerPhone {
          display: flex;
          justify-content: center;
          margin: -69px 0 0 0;
          width: 100%;

          img {
            height: auto;
            max-height: 640px;
            min-width: 100%;
            max-width: 100%;
          }
        }
      }
      .containerButton {
        margin: 12px 16px 0 16px;
      }
    }
  }
}
