@import '../../styles/variables';

.content {
  margin-bottom: 90px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  @media screen and (max-width: $tablet) {
    margin-top: 24px;
    padding: 15px 7px;
    margin-bottom: 24px;

    img {
      width: 84px;
      margin-left: 24px;
    }
  }
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.7);

  @media screen and (max-width: $tablet) {
    font-size: 12px;
    line-height: 17px;
  }
}
