@import "styles/variables";

.container {
  position: relative;
  flex: 1;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 35px 61px rgba(1, 48, 154, 0.1);
  border-radius: 24px;
  padding: 24px;

  .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.87px;
    color: #01268a;
    margin-bottom: 24px;
  }

  .subTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #1b2125;
    margin: 24px 0 12px;

    &:first-child {
      margin: 0 0 12px;
    }
  }

  .hint {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 12px;
    color: #a9a9a9;
  }

  .textContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .textContainerSubInfo {
    margin: 0;
    min-height: 24px;
  }

  .textTitle {
    flex: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a9a9a9;
  }

  .text {
    flex: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1b2125;
    word-break: break-all;
  }

  .divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 48px);
    width: 1px;
    background-color: $very-light-blue;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}
