@import 'styles/variables';

.servicesSection {
  padding: 90px 0 10px;
  background: #fff;

  @media screen and (max-width: $tablet) {
    padding: 48px 0 48px;
  }
}

.heading {
  text-align: center;
  margin-bottom: 44px;
  @media screen and (max-width: $tablet) {
    font-size: 26px !important;
    margin-bottom: 32px;
  }
}

.subHeading {
  text-align: center;
  margin-bottom: 78px;
  color: #00000080;
  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.buttonContainer {
  display: flex;
  margin: 32px 24px 0;
}

.button {
  cursor: pointer;
  background-color: #04c697 !important;
  color: white !important;
  height: 50px !important;
  width: 100%;
}

.stepRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 66px;
  @media screen and (max-width: $tablet) {
    gap: 24px;
    padding: 32px;
    margin: 0 16px;
    flex-direction: column;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 35px 61px rgba(1, 48, 154, 0.1);
  }
}

.carousel {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.buttonContaienr {
  width: 100%;
  display: flex;
  justify-content: center;
}
.becomePartner {
  background-color: #04c697;
  color: white;
  font-weight: 500;
  font-size: 18px;
  width: 266px;
}
